{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome!</h1>
  <p>This is your profile page for class IS601</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Congratulations!</h3>
      <p>Congratulations on making it to the end of IS601.  You did it!</p>
      <p>Once completed with this class, you will need to register for additional classes concerning your major.</p>
    </div>
    <div class="col-sm-4">
      <h3>Links for your Major</h3>
      <p>https://informatics.njit.edu</p>
      <p>https://catalog.njit.edu/graduate/computing-sciences/information-systems/ms/</p>
    </div>
    <div class="col-sm-4">
      <h3>Good Luck!</h3>
      <p>We wish you luck on your future classes.</p>
      <p>Thank you for being a part of the NJIT Family!</p>
    </div>
  </div>
</div>

</body>
</html>




{% endblock %}